main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.first__section {
    background-color: var(--color-brand-1);

    width: 80%;
    height: 45%;

    border-radius: 8px 8px 0px 0px;

    padding: 0px 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.container {
    width: 430px;
    max-width: 90%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.logo {
    color: var(--color-grey-7);

    font-size:var(--font-title-2);

    font-weight: 600;
}

.subtitle {
    color: var(--color-grey-7);

    font-size: var(--font-text-3);

    line-height: 150%;

    font-weight: 400;
}

.second__section {
    background-color: var(--color-grey-2);
    width: 80%;
    height: 45%;

    border-radius: 0px 0px 8px 8px;
}

.navbar {
    width: 320px;
    max-width: 90%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 0px 1.5rem

}

.navbar > h3 {
    margin-top: 30px;
    font-size: var(--font-text-2);
    width: 100%;
    font-weight: 500;


    color: var(--color-grey-7);

}

.search__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.2rem;
    /* width: 316px; */
    width: 100%;

}

.search__block > span {
    font-size: var(--font-text-4);

    font-weight: 500;

    color: var(--color-grey-7);

    align-self: flex-start;
}

.search__input {
    height: 30px;
    width: 316px;
    max-width: 100%;
    background-color: var(--color-grey-1);

    color: #FFFFFF80;

    border: 1px solid  #FFFFFF1F;
    border-radius: 4px;


    font-size: var(--font-text-4);

    padding: 5px;
}

.search__button {
    width: 316px;
    max-width: 100%;

    height: 30px;

    background-color: var(--color-brand-2);

    border: 1px solid var(--color-brand-2);

    border-radius: 4px;

    color: var(--color-grey-7);

}

@media(min-width:769px) {
    main {
        flex-direction: row;
    }

    .first__section {
        height: 100%;
        width: 50%;
        /* max-width: 45%; */
        border-radius: 0px;

        justify-content: start;

        align-items: center;
    }

    .container {
        height: 100%;
        justify-content: center;
    }

    .second__section {
        height: 100%;
        width: 50%;
        /* max-width: 45%; */
        border-radius: 0px;


    }

    .navbar {
        height: 100%;

        justify-content: center;
    }
    .search__input {
        height: 38px;
    }

    .search__button {
        height: 38px;
        cursor: pointer
    }
}